/* #background {
    background: linear-gradient(135deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
} */

#title {
    background-color: #33475A;
    padding: 1rem;
    color: aliceblue;
}

.searchListItem {
    background-color: #33475A;
    color: aliceblue;
    list-style: none;
    padding: 0.08rem;
    border-radius: 1rem;
}

.searchListItem:hover {
    background-color: aliceblue;
    color: #33475A;
    box-shadow: 9px 10px 31px -2px rgb(54, 54, 54);
}


.weekday-reports {
    margin-right: 5rem;
}

.weekday-report {
    color: aliceblue;
    background-color: #33475A;
    padding: 1rem;
}