

html {
    padding-bottom: 13.27rem;
}

#background {
    background: linear-gradient(135deg, #2E72C5 0%, #0ED9FF 56%, #2E72C5 100%);
}

p {
    font-size: 1.75rem;
}

#title {
    background-color: transparent;
}

.city-title-style {
    font-style: italic;
    font-size: 5rem;
    font: underline;
    border-bottom: 2rem black;
}

#user-instruction {
    text-align: center;
    color: aliceblue;
    margin: 1rem;
}

#user-input {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.45rem;
    margin-left: 2rem;
}

#search-btn {
    width: 100%;
    padding: 0.01rem 6.5rem 0.01rem 6.5rem;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.45rem;
    margin-left: 2rem;
}

#title {
    background-color: #33475A;
    padding: 1rem;
    color: aliceblue;
}

#city-weather-info {
    color: aliceblue;

}

.searchListItem {
    background-color: #33475A;
    color: aliceblue;
    list-style: none;
    padding: 0.08rem;
    border-radius: 1rem;
    /* margin: 5rem; */
}

.searchListItem:hover {
    background-color: aliceblue;
    color: #33475A;
    box-shadow: 9px 10px 31px -2px rgb(54, 54, 54);
}


.weekday-reports {
    margin-right: 5rem;
}

.weekday-report {
    color: aliceblue;
    background-color: #33475A;
    padding: 1rem;
}