/* #background {
    background: linear-gradient(135deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
} */

.weekday-reports {
    margin-right: 5rem;
}

.weekday-report {
    color: aliceblue;
    background-color: #33475A;
    padding: 1rem;
}